.cug-picker {
  .input-group input[type="text"] {
    border-start-end-radius: $border-radius !important;
    border-end-end-radius: $border-radius !important;
  }

  .badge-slot {
    display: none;
    border-left: none;
    border-radius: 0 $border-radius $border-radius 0;
    padding: 0.25rem;
  }

  [data-badge] {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;
  }

  &.is-locked {
    .input-group input[type="text"] {
      border-start-end-radius: 0 !important;
      border-end-end-radius: 0 !important;
    }

    input[type="text"] {
      border-right: none;
      cursor: default;

      &:focus {
        box-shadow: none;
        border-color: $border-color;
      }
    }

    .badge-slot {
      display: flex;
    }
  }
}
