/* ---------------------------------------------------------------------------
   base functions
----------------------------------------------------------------------------*/
a.mcr-upload-show{
	color: $primary !important;
}


span.docdetails-label, span.docdetails-sublabel {
  font-variant: petite-caps;
  letter-spacing: 0.025em;
  word-spacing: 0.2em;
  margin-left: 0em;
}

#content_area{
  min-height: calc(100vh - 255px);
}

.ir-nav-top {
  background-color: #13306a;
  color: var(--white);
}

.ir-nav-top .navbar{
  padding:0;
}

.ir-nav-top a{
  color: var(--white);
}

.ir-nav-main .level-0{
  font-size: 20px;
  text-transform: uppercase;
}
.ir-nav-main a.active{
  background-color:#13306a;
}

.ir-nav-side a.active{
  background-color: lightcyan;
}

.ir-nav-side ul.level-1 > li{
  font-weight:bold;
}
.ir-nav-side ul.level-2 > li{
  font-weight:normal;
}

.ir-nav-side ul.level-2{
  margin-left: 30px;
}

.ir-footer{
  background-color: #6f6f6e;
  color: var(--white);
  margin-top:3em;
}
.ir-footer a{
  color:var(--white);
}
.ir-footer ul {
    list-style: none;
    padding-inline-start: 0;
}

.ir-footer h5 {
  border-bottom:1px solid var(--white);
}
