/* ---------------------------------------------------------------------------
   base functions
----------------------------------------------------------------------------*/
a.mcr-upload-show{
	color: $primary !important;
}


span.docdetails-label, span.docdetails-sublabel {
  font-variant: petite-caps;
  letter-spacing: 0.025em;
  word-spacing: 0.2em;
  margin-left: 0em;
}

.ir-nav-top {
  background-color: #13306a;
}

.ir-footer {
  background-color: #6f6f6e;
}
