/* ---------------------------------------------------------------------------
   override bootstrap sass variables specified here:
   http://getbootstrap.com/customize/#less-variables
----------------------------------------------------------------------------*/


/* -------------------------------------------------------------------------------------------
    override bootstrap variables 
       complete list at: https://github.com/twbs/bootstrap/blob/v4.6.1/scss/_variables.scss
   ------------------------------------------------------------------------------------------- */

$primary:#46155d;
$secondary:#9F3E07;
$success:#9EE22F;
$danger:#E22F44;
$info:#732FE2;
$warning:#f0ff00;
$light:#FAFAFA;
$dark:#4e4e4e;

$enable-gradients:false;
$spacer:1.2rem;
$border-width:1px;
$btn-border-radius:1.35rem;

$font-family-base: "Calibri", "Open Sans", sans-serif;
$headings-font-family: "Calibri", "Open Sans", sans-serif;


/* ---------------------------------------------------------------------------
   project specific variables
   --------------------------------------------------------------------------- */
